@model Flappy_Clouds.Entities.User

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit User</h2>
<hr />
<main class="signup-container">
	<form asp-action="EditUser" method="post">
		<div class="mb-3">
			<label asp-for="FirstName" class="from-label"></label>
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="LastName" class="form-label"></label>
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Email" class="form-label"></label>
			<input asp-for="Email" type="email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="PasswordHash" class="form-label">Password</label>
			<input asp-for="PasswordHash" type="password" class="form-control" />
			<span asp-validation-for="PasswordHash" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="PasswordHash" class="form-label">Confirm Password</label>
			<input asp-for="PasswordHash" type="password" class="form-control" />
			<span asp-validation-for="PasswordHash" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="PhoneNumber" class="form-label"></label>
			<input asp-for="PhoneNumber" class="form-control" />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Address" class="form-label"></label>
			<input asp-for="Address" class="form-control" />
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>

		<button type="submit" class="signup-btn">Save Changes</button>
	</form>

</main>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
